<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WoMentor</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/stylesHome.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  

</head>
<body>
    <header>
        <div id="headerDiv">
        Choose your WoMentor adventure...
        </div>
    </header>
    <div class=-"container" id="boxContainer">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="mentorBox" align="center">Mentor</div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 visible-lg visible-md visible-sm" id="boxBar" align="center">|</div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="menteeBox" align="center">Mentee</div>
        </div>
    </div>
     <div class="container" hidden id="loginContainer">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center" id="login">Login</div>
        </div>
    </div>

    <!-- <script src='nprogress.js'></script> -->
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>