{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- we need to fix this -->
        <img src="{{}}" alt="Profile Pic" height="300px" width="300px"><!-- picture-url from linkedIn --> 
        <div name="name" id="name">{{}}</div><!-- first and last name -->
        <div name="location" id="location">{{}}</div>
        <div name="availability" id="availability">{{}}</div>
        <div name="language" id="language">{{}}</div>
        <div name="bio" id="bio">{{}}</div>

    </div>
</div>
{% endblock %}