{% extends 'base.html' %} {% block content %}
<div class="container">
    <form id="registerForm" action="/register" method="POST">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" align="center">
                <h4>Check all that apply:</h4>
                <input type="checkbox" name="english" value="english">English
                <br>
                <input type="checkbox" name="spanish" value="spanish">Spanish
                <br>
                <input type="checkbox" name="mandarin" value="mandarin">Mandarin
                <br>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" align="center">
                <h4>Coding Level:</h4>
                <input type="radio" name="level" value="one">One
                <br>
                <input type="radio" name="level" value="two">Two
                <br>
                <input type="radio" name="level" value="three">Three
                <br>
            </div>
        </div><br><br>
        <!-- /row -->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" align="center">
                <h4>Days Available:</h4>
                <input type="checkbox" name="day" value="monday">Monday
                <br>
                <input type="checkbox" name="day" value="tuesday">Tuesday
                <br>
                <input type="checkbox" name="day" value="wednesday">Wednesday
                <br>
                <input type="checkbox" name="day" value="thursday">Thursday
                <br>
                <input type="checkbox" name="day" value="friday">Friday
                <br>
                <input type="checkbox" name="day" value="Saturday">Saturday
                <br>
                <input type="checkbox" name="day" value="sunday">Sunday
                <br>
            </div><br><br>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" align="center" id="catDiv">
                <h4>Type of help:</h4>
                <input type="radio" name="activity" value="wboarding">White Boarding
                <br>
                <input type="radio" name="activity" value="intPrep">Interview Prep
                <br>
                <input type="radio" name="activity" value="CarAdvice">Career Advice
                <br>
                <input type="radio" name="activity" value="pProgramming">Pair Programming
                <br>
                <input type="radio" name="activity" value="codeReview">Code Review
            </div>
        </div>
            <!-- /row -->
            <div class="row"><br><br>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" align="center">
                    <div id="location">
                        <h4>Location:</h4></div>
                    <select name='location'>
                        <option value="San Francisco">San Francisco</option>
                        <option value="North Bay">North Bay</option>
                        <option value="Peninsula">Peninsula</option>
                        <option value="South Bay">South Bay</option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" align="center" id="bio">
                    <h4>Bio</h4>
                    <input type="text" name="bio">
                </div>
            </div><br><br>
            <div class="row">
                <div class="col-lg-12 col-md-12 
                col-sm-12 col-xs-12" id="loginBtn" align="center">
                    <button type="submit" value="Log In">
                        <h4>Submit</h4></button>
                </div>
            </div>
    </form>
    </div>
    {% endblock %}